.place__img {
    width: 100%;
    
}

@media screen and (max-width: 425px) {
    .place__img {
       width: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 510px) {
    .place__img {
        width: 100%;
    }
}


@media screen and (min-width: 511px) and (max-width: 768px) {
    .place__img {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__img {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .place__img {
        padding-left: 48px;
        padding-right: 48px;
    }
}